body {
  background-color: #F1EEDB;
}

h1 {
  font-family: Righteous;
  font-size: 5rem;
  margin-top: 3vh;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}


.card {
  width: 15rem;
}

.audio-width {
  width: 15rem;
}

.headphones{
  height: 14vh;
}